.birthday-sign {
  height: 250px;
  width: 250px;
}

div.box {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.box-paragraph {
  display: inline-block;
  width: 20%;
  margin: 5% auto;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 1em;
  line-height: 1.5em;
  background: hsla(67, 95%, 95%, 1);
}
.one {
  border: solid 5px hsla(0, 95%, 35%, 1);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 1em;
  margin: 5% auto;
}

.birthday-title {
  color: hsla(0, 95%, 35%, 1);
}

.balloons {
  height: 200px;
  width: 200px;
}

.temp {
  border: 1px solid green;
}

.row-1 {
  flex-direction: row-reverse;
  margin-bottom: 3rem;
  text-align: left;
  font-size: 18px;
}

.row-2 {
  flex-direction: row;
  margin-bottom: 3rem;
  font-size: 18px;
}

.mobile-row-2 {
  flex-direction: column;
}
