.checkout-view {
  height: 100vh !important;
}

.align-items-start {
  /* align-items: flex-start !important; */
  /* border: 2px solid blue; */
  display: flex !important;
  flex-direction: column !important;
}

.checkout-column {
  /* border: 1px solid red; */
  display: flex !important;
  align-items: center !important;
  margin-top: 1.5rem;
}

.second-column {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: underline;
  cursor: pointer;
}

.checkout-row {
  flex-direction: row !important;
}

.checkout-card-details {
  background-color: #f8f1d9 !important;
}


