.fundraising-row {
  flex-direction: column !important;
}

.fundraising-col {
  /* border: 1px solid red; */
  border-radius: 10px;
  font-size: 28px !important;
}

.fundraising-title {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fundraising-subtitle {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fundraising-banner {
  /* width: 1263px; */
  width: 100vw;
  height: 444px;
  background-image: url('../assets/fundraising/fundraising.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  text-align: left;
  line-height: 20px;
  font-family: Helvetica, sans-serif;
}

.fundraising-ul {
  list-style: disc !important;
}

.fundraising-border {
  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}

.ideas {
  font-size: 36px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.ideas-subtitle {
  color: #667180;
  font-size: 20px;
}

.ideas-row {
  /* border: 1px solid green; */
  padding-left: 10rem;
  padding-right: 10rem;
}

.ideas-row-2 {
  /* border: 1px solid blue; */
  flex-direction: row;
  margin-bottom: 2rem;
}

.ideas-table {
  border: 1px solid #ccc;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  text-align: left;
}

.ideas-table-header {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 21px;
}

.ideas-table-image {
  /* border: 1px solid red; */
  height: 10vw;
  width: 10vw;
  margin-left: 30% !important;
}
