.profile-view {
  height: 100vh;
}

.profile-row {
  margin-top: 1rem;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.shopping-cart {
}

.shopping-cart-row {
  flex-direction: column !important;
  border: 2px solid var(--yellow);
}

.shopping-cart-pic {
  height: 100px;
  width: 100px;
}
