.profile-view {
  height: 100vh;
}

.profile-row {
  margin-top: 1rem;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.shopping-cart {
}

.shopping-cart-row {
  flex-direction: row;
}

.shopping-cart-pic {
  height: 50px;
  width: 50px;
}

span.price {
  font-size: 20px;
}

span.quantity {
  font-size: 20px;
}

img.trash {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
