.volunteers-row {
  flex-direction: column;
}

.volunteers-link-row {
  margin: 2rem !important;
  padding: 2rem !important;
  flex-direction: column !important;
}

.volunteers-col {
  margin: 1rem !important;
}

.volunteers-image {
  height: 250px;
  width: 500px;
  border-radius: 10px;
}

.mobile-volunteers-image {
  width: 80vw !important;
}

.volunteers-paragraph {
  background-color: rgb(196, 255, 178);
  padding: 1rem;
  border-radius: 10px;
}
